<div style="background-color: #f5f5f5;width: 746px;
height: auto; margin-left: 95px; margin-top: 30px" data-th-fragment="footer">
    <nav class="ui stackable two column secondary menu grid"  >
        <div class="column" style="padding-top: 0px !important; padding-bottom: 0px !important">
            <a class="item  " href="" rel=" ">Countries and Sources Coverage</a>
            <a class="item  " href="https://help.northdata.com/en/center" rel=" noopener" target="_blank">Help center</a>
            <a class="item  " href="https://blog.northdata.com" rel=" noopener" target="_blank">Blog</a>
            <a class="item  " href="https://welcome.northdata.com/en/newsletter" rel=" noopener" target="_blank">Newsletter</a>
            <a class="item  " href="https://welcome.northdata.com/en/jobs" rel=" noopener" target="_blank">Jobs</a>
            <a class="item  " href="https://www.northdata.de/" rel=" ">German Website</a>
        </div>
        <div class="column" style="padding-top: 0px !important; padding-bottom: 0px !important">
            <a class="item  " href="" rel="nofollow ">Contact</a>
            <a class="item  " href="" rel="nofollow ">About us</a>
            <a class="item  " href="" rel=" ">Investigative Journalism</a>
            <a class="item  " href="" rel="nofollow ">Usage Terms</a>
            <a class="item  " href="" rel="nofollow ">Privacy</a>
        </div>
    </nav>
</div>

