
<div >

    <div class="ui secondary menu" data-th-fragment="menu" style="background-color: #ffffff;
        margin: 0; padding: 0; font-size: 1.28571429rem">
        <div class="menu" style="margin-left: 95px">
            <div class="ui basic padded segment myHeader">
                <img src="/images/logo.png" alt="PostgreSQL Full Text Search (FTS)" height="125" width="275">
            </div>
        </div>
        <div class="right menu right-menu-header" style="margin-right: 95px;">

            <a href="#" class="custom-link">
                <i class="star icon"></i> PREMIUM SERVICES
            </a>
            <a href="#" class="custom-link">
                <i class="database icon"></i> DATA SERVICES
            </a>
            <a href="#" class="custom-link">
                <i class="user icon"></i> LOGIN
            </a>
            <!--<div class="ui right aligned horizontal search item">
                <div class="ui icon input">
                    <input class="prompt" type="text" placeholder="Search...">
                    <i class="search link icon"></i>
                </div>
                <div class="results"></div>
            </div>

            <script>
                $('.ui.search')
                    .search({
                        apiSettings: {
                            url: '/api/search?q={query}'
                        },
                        minCharacters: 2
                    });

            </script>-->

        </div>
    </div>



</div>