<!DOCTYPE html>
<html lang="en" data-th-fragment="layout(content)">
<head>
    <meta charset="UTF-8">
    <meta data-th-replace="~{fragments/scripts::js_css}">
    <style>
        .result em {
            color: red !important;
        }
        body{
            background-color: #f5f5f5;
        }


    </style>
    <title>Postgres FTS</title>
</head>
<body>
<div  style="width: 100%;">

    <div data-th-replace="~{fragments/header::menu}">
    </div>

    <div class="ui two column centered grid">
        <div data-th-replace="${content}"></div>
    </div>
</div>

<div data-th-replace="~{fragments/footer::footer}">

</div>

</body>
</html>